{% extends '_layout.html' %}

{% block title %}Movie Rating App | Movie{% endblock %}

{% block body %}
<!-- TODO: Feature 4 -->
<style>
    .movie-details {
        background-color: #f8f9fa;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
    }

    .movie-details h2 {
        color: #007bff;
    }

    .movie-details p {
        margin-bottom: 5px;
    }
</style>

<h1 class="mb-5">Movie Details</h1>
<div class="d-flex justify-content-center">
    <div class="movie-details">
        <h2>{{ movie_title }}</h2>
        <p><strong>Director:</strong> {{ movie_director }}</p>
        <p><strong>Rating:</strong> {{ movie_rating }}</p>
    </div>
</div>
{% endblock %}
