{% extends '_layout.html' %}

{% block title %}Movie Rating App | All Movies{% endblock %}

{% block body %}
<h1 class="mb-5">All Movies</h1>
<p class="mb-3">See our list of movie ratings below</p>

{% if movies %}
<table class="table">
 <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
 </thead>
 <tbody>
    {% for movie in movies.values() %}
    <tr>
      <td>{{ movie.title }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.rating }}</td>
      <td><a href="/movies/{{ movie.id }}" class="btn btn-primary">View</a></td>
    </tr>
    {% endfor %}
 </tbody>
</table>
{% else %}
<p>No movies found.</p>
{% endif %}
{% endblock %}
